<%= form_for(([@project, @comment]), multipart: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @commentt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :body %><br>
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

